{
  "x-generator": "NSwag v13.18.2.0 (NJsonSchema v10.8.0.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Millicast API",
    "description": "# Introduction\nControlling publishing for your Millicast account.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.millicast.com"
    }
  ],
  "paths": {
    "/api/v3/account/media/expiration": {
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update Account Media Assets Expiration Rules",
        "description": "Update account level expiration rule for various media asset types.  ",
        "operationId": "account-media-expiration-put",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "timelines": {
                    "description": "Update account level expiration rule for timelines. Specified timespans must be non-zero. \n \n This limits the earliest permissible startTime when creating clips. Expiration rule updates take effect immediately, with then system cleaning up any timelines created prior to the expiration rule. \n \n By default, timelines expire after 30 days. \n \n Provide an empty json to clear settings. ",
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "days": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 365,
                            "minimum": 1,
                            "nullable": true
                          }
                        }
                      }
                    ]
                  },
                  "recordings": {
                    "description": "Update account level expiration rule for recordings. Specified timespans must be non-zero. \n \n Updates to the expiration rule are applied only to new recordings. \n \n By default, recordings do not expire unless this value is updated. \n \n Provide an empty json to clear settings. ",
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "days": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 365,
                            "minimum": 1,
                            "nullable": true
                          }
                        }
                      }
                    ]
                  },
                  "clips": {
                    "description": "Update account level expiration rule for clips. Specified timespans must be non-zero. \n \n Updates to the expiration rule are applied only to new clips. This account level default can be overridden for individual clips upon clip creation. \n \n By default, clip do not expire unless this value is updated or expiration is specified on creation. \n \n Provide an empty json to clear settings. ",
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "days": {
                            "type": "integer",
                            "format": "int32",
                            "maximum": 365,
                            "minimum": 1,
                            "nullable": true
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "timelines": {
                          "description": "Account level expiration rule for timelines. If custom rule is not set, by default, timelines expire after 30 days. ",
                          "nullable": true,
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "days": {
                                  "type": "integer",
                                  "format": "int32",
                                  "maximum": 365,
                                  "minimum": 1,
                                  "nullable": true
                                }
                              }
                            }
                          ]
                        },
                        "recordings": {
                          "description": "Account level expiration rule for recordings.Expiration countdown begin upon recording creation (i.e. when [Create Media Asset](#operation/MediaAssets_CreateMediaAsset) the recording is stopped). \n \n If custom rule is not set, recordings never expire and this field will be empty. ",
                          "nullable": true,
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "days": {
                                  "type": "integer",
                                  "format": "int32",
                                  "maximum": 365,
                                  "minimum": 1,
                                  "nullable": true
                                }
                              }
                            }
                          ]
                        },
                        "clips": {
                          "description": "Account level expiration rule for clips. Expiration countdown begin upon clip creation (i.e. when [Create Media Asset](#operation/MediaAssets_CreateMediaAsset) is invoke). \n \n If custom rule is not set, clips never expire by default and this field will be empty. Setting the `expiration` value on in the request body of [Create Media Asset](#operation/MediaAssets_CreateMediaAsset) overrides the rule configured here.",
                          "nullable": true,
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "days": {
                                  "type": "integer",
                                  "format": "int32",
                                  "maximum": 365,
                                  "minimum": 1,
                                  "nullable": true
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "error",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "data": {
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account Media Assets Expiration Rule",
        "description": "Get account level expiration rule for various media asset types.  ",
        "operationId": "account-media-expiration-get",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "timelines": {
                          "description": "Account level expiration rule for timelines. If custom rule is not set, by default, timelines expire after 30 days. ",
                          "nullable": true,
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "days": {
                                  "type": "integer",
                                  "format": "int32",
                                  "maximum": 365,
                                  "minimum": 1,
                                  "nullable": true
                                }
                              }
                            }
                          ]
                        },
                        "recordings": {
                          "description": "Account level expiration rule for recordings.Expiration countdown begin upon recording creation (i.e. when [Create Media Asset](#operation/MediaAssets_CreateMediaAsset) the recording is stopped). \n \n If custom rule is not set, recordings never expire and this field will be empty. ",
                          "nullable": true,
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "days": {
                                  "type": "integer",
                                  "format": "int32",
                                  "maximum": 365,
                                  "minimum": 1,
                                  "nullable": true
                                }
                              }
                            }
                          ]
                        },
                        "clips": {
                          "description": "Account level expiration rule for clips. Expiration countdown begin upon clip creation (i.e. when [Create Media Asset](#operation/MediaAssets_CreateMediaAsset) is invoke). \n \n If custom rule is not set, clips never expire by default and this field will be empty. Setting the `expiration` value on in the request body of [Create Media Asset](#operation/MediaAssets_CreateMediaAsset) overrides the rule configured here.",
                          "nullable": true,
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "days": {
                                  "type": "integer",
                                  "format": "int32",
                                  "maximum": 365,
                                  "minimum": 1,
                                  "nullable": true
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "error",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "data": {
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/account/media/storage": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List Storage Profiles",
        "description": "List all storage profiles created on your account. ",
        "operationId": "account-media-storage-get",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "default": "name",
              "nullable": true,
              "oneOf": [
                {
                  "type": "string",
                  "description": "",
                  "x-enumNames": [
                    "Name"
                  ],
                  "enum": [
                    "name"
                  ]
                }
              ]
            },
            "x-position": 1
          },
          {
            "name": "default",
            "in": "query",
            "description": "Set to true to get the default storage profile on your account",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "maximum": 2147483647,
              "minimum": 1
            },
            "x-position": 3
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            },
            "x-position": 4
          },
          {
            "name": "desc",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "type": "string",
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "default": {
                            "type": "boolean",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "description": "",
                            "x-enumNames": [
                              "gcs",
                              "awsS3",
                              "dolbyStorage"
                            ],
                            "enum": [
                              "gcs",
                              "awsS3",
                              "dolbyStorage"
                            ]
                          },
                          "options": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                  "bucketName"
                                ],
                                "properties": {
                                  "objectPrefix": {
                                    "type": "string",
                                    "description": "Optional. Prefix to object when stored in bucket i.e. `protocol`://`bucketName`/`objectPrefix`/`objectName.ext`. `objectName` is either defined by a system assigned GUID or the user-specified `clipName`.",
                                    "maxLength": 1000,
                                    "minLength": 0,
                                    "nullable": true
                                  },
                                  "bucketName": {
                                    "type": "string",
                                    "description": "Name of bucket to upload clips to. Please ensure Dolby.io's service account is granted access.",
                                    "minLength": 1
                                  },
                                  "bucketRegion": {
                                    "type": "string",
                                    "description": "Region of the specified bucket. Required when using storageType awsS3 ",
                                    "maxLength": 32,
                                    "minLength": 1,
                                    "nullable": true
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "error",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "data": {
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create Storage Profile",
        "description": "Create a storage profile identifying the configuration for a cloud storage provider that can receive media assets when they are finished processing. Only one storage profile will be set as a default for the entire account, otherwise you may specify a storage location using the `storageProfileId` on any individual media clip request.",
        "operationId": "account-media-storage-post",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "type",
                  "options"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Provide a label for your storage profile",
                    "maxLength": 256,
                    "minLength": 1,
                    "nullable": true
                  },
                  "default": {
                    "type": "boolean",
                    "description": "Set this as the default storage profile for your account. If set to true this will replace the previous default profile.",
                    "default": false,
                    "nullable": true
                  },
                  "type": {
                    "description": "Storage provider type. One of the following:\n* awsS3 - Amazon S3\n* gcs - Google Cloud Storage",
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "",
                        "x-enumNames": [
                          "gcs",
                          "awsS3",
                          "dolbyStorage"
                        ],
                        "enum": [
                          "gcs",
                          "awsS3",
                          "dolbyStorage"
                        ]
                      }
                    ]
                  },
                  "options": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "bucketName"
                    ],
                    "properties": {
                      "objectPrefix": {
                        "type": "string",
                        "description": "Optional. Prefix to object when stored in bucket i.e. `protocol`://`bucketName`/`objectPrefix`/`objectName.ext`. `objectName` is either defined by a system assigned GUID or the user-specified `clipName`.",
                        "maxLength": 1000,
                        "minLength": 0,
                        "nullable": true
                      },
                      "bucketName": {
                        "type": "string",
                        "description": "Name of bucket to upload clips to. Please ensure Dolby.io's service account is granted access.",
                        "minLength": 1
                      },
                      "bucketRegion": {
                        "type": "string",
                        "description": "Region of the specified bucket. Required when using storageType awsS3 ",
                        "maxLength": 32,
                        "minLength": 1,
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "id": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "default": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "description": "",
                          "x-enumNames": [
                            "gcs",
                            "awsS3",
                            "dolbyStorage"
                          ],
                          "enum": [
                            "gcs",
                            "awsS3",
                            "dolbyStorage"
                          ]
                        },
                        "options": {
                          "nullable": true,
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "bucketName"
                              ],
                              "properties": {
                                "objectPrefix": {
                                  "type": "string",
                                  "description": "Optional. Prefix to object when stored in bucket i.e. `protocol`://`bucketName`/`objectPrefix`/`objectName.ext`. `objectName` is either defined by a system assigned GUID or the user-specified `clipName`.",
                                  "maxLength": 1000,
                                  "minLength": 0,
                                  "nullable": true
                                },
                                "bucketName": {
                                  "type": "string",
                                  "description": "Name of bucket to upload clips to. Please ensure Dolby.io's service account is granted access.",
                                  "minLength": 1
                                },
                                "bucketRegion": {
                                  "type": "string",
                                  "description": "Region of the specified bucket. Required when using storageType awsS3 ",
                                  "maxLength": 32,
                                  "minLength": 1,
                                  "nullable": true
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "fail",
                      "minLength": 1
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "error",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "data": {
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/account/media/storage/{id}": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete Storage Profile",
        "description": "Specify the id of a storage profile you wish to delete. ",
        "operationId": "account-media-storage-id-delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "error",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "data": {
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Storage Profile",
        "description": "Get details of a saved storage profile ",
        "operationId": "account-media-storage-id-get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "id": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "default": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "description": "",
                          "x-enumNames": [
                            "gcs",
                            "awsS3",
                            "dolbyStorage"
                          ],
                          "enum": [
                            "gcs",
                            "awsS3",
                            "dolbyStorage"
                          ]
                        },
                        "options": {
                          "nullable": true,
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "bucketName"
                              ],
                              "properties": {
                                "objectPrefix": {
                                  "type": "string",
                                  "description": "Optional. Prefix to object when stored in bucket i.e. `protocol`://`bucketName`/`objectPrefix`/`objectName.ext`. `objectName` is either defined by a system assigned GUID or the user-specified `clipName`.",
                                  "maxLength": 1000,
                                  "minLength": 0,
                                  "nullable": true
                                },
                                "bucketName": {
                                  "type": "string",
                                  "description": "Name of bucket to upload clips to. Please ensure Dolby.io's service account is granted access.",
                                  "minLength": 1
                                },
                                "bucketRegion": {
                                  "type": "string",
                                  "description": "Region of the specified bucket. Required when using storageType awsS3 ",
                                  "maxLength": 32,
                                  "minLength": 1,
                                  "nullable": true
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "error",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "data": {
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update Storage Profile",
        "description": "Change the details of a storage profile. ",
        "operationId": "account-media-storage-id-put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "updateModel",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Update the label for your storage profile",
                    "maxLength": 256,
                    "minLength": 0,
                    "nullable": true
                  },
                  "default": {
                    "type": "boolean",
                    "description": "Set this as the default storage profile for your account. If set to true this will replace the previous default profile.",
                    "nullable": true
                  },
                  "type": {
                    "description": "Storage provider type. One of the following:\n* awsS3 - Amazon S3\n* gcs - Google Cloud Storage",
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "",
                        "x-enumNames": [
                          "gcs",
                          "awsS3",
                          "dolbyStorage"
                        ],
                        "enum": [
                          "gcs",
                          "awsS3",
                          "dolbyStorage"
                        ]
                      }
                    ]
                  },
                  "options": {
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "objectPrefix": {
                            "type": "string",
                            "description": "Optional. Prefix to object when stored in bucket i.e. `protocol`://`bucketName`/`objectPrefix`/`objectName.ext`. Ignored when using Dolby.io's storage buckets. `objectName` is either defined by a system assigned GUID or the user-specified `clipName`.",
                            "maxLength": 1000,
                            "minLength": 0,
                            "nullable": true
                          },
                          "bucketName": {
                            "type": "string",
                            "description": "Name of bucket to upload clips to. Please ensure Dolby.io's service account is granted access.",
                            "nullable": true
                          },
                          "bucketRegion": {
                            "type": "string",
                            "description": "Region of the specified bucket if using storage provider awsS3",
                            "maxLength": 32,
                            "minLength": 1,
                            "nullable": true
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "id": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "default": {
                          "type": "boolean",
                          "nullable": true
                        },
                        "type": {
                          "type": "string",
                          "description": "",
                          "x-enumNames": [
                            "gcs",
                            "awsS3",
                            "dolbyStorage"
                          ],
                          "enum": [
                            "gcs",
                            "awsS3",
                            "dolbyStorage"
                          ]
                        },
                        "options": {
                          "nullable": true,
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "bucketName"
                              ],
                              "properties": {
                                "objectPrefix": {
                                  "type": "string",
                                  "description": "Optional. Prefix to object when stored in bucket i.e. `protocol`://`bucketName`/`objectPrefix`/`objectName.ext`. `objectName` is either defined by a system assigned GUID or the user-specified `clipName`.",
                                  "maxLength": 1000,
                                  "minLength": 0,
                                  "nullable": true
                                },
                                "bucketName": {
                                  "type": "string",
                                  "description": "Name of bucket to upload clips to. Please ensure Dolby.io's service account is granted access.",
                                  "minLength": 1
                                },
                                "bucketRegion": {
                                  "type": "string",
                                  "description": "Region of the specified bucket. Required when using storageType awsS3 ",
                                  "maxLength": 32,
                                  "minLength": 1,
                                  "nullable": true
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "error",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "data": {
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/account/media/storage/validate": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Validate Third Party Storage Setup",
        "description": "Validates third party storage is configured with permissions for Dolby.io to upload media assets. \n \n To track the validation result, keep note of the the `id` returned in the response body. If correctly configured, when calling [Get Media Asset](#tag/MediaAssets/operation/MediaAssets_GetMediaAssets), the response should return a successful entry with `id` matching the `id`. \n \n Run once to validate write permissions. If successful, optionally run a second time to confirm that overwriting is allowed. \n \n Note that validation results are only available for 1 hour. ",
        "operationId": "account-media-storage-validate-post",
        "requestBody": {
          "x-name": "storageModel",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "profileId": {
                    "type": "string",
                    "description": "Optional. Provide the id of a storage profile. Mutually exclusive with Type.",
                    "nullable": true
                  },
                  "type": {
                    "description": "Optional. Use to indicate the storage provider type for a one-off storage configuration. Mutually exclusive with ProfileId. Storage provider type. One of the following:\n* awsS3 - Amazon S3\n* gcs - Google Cloud Storage\n* dolbyStorage - Dolby.io's storage buckets. Call Read Media Asset to retrieve the clip file.",
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "",
                        "x-enumNames": [
                          "gcs",
                          "awsS3",
                          "dolbyStorage"
                        ],
                        "enum": [
                          "gcs",
                          "awsS3",
                          "dolbyStorage"
                        ]
                      }
                    ]
                  },
                  "options": {
                    "description": "May be used in the following ways: <br />1. Optional. Override parameters of a storage profile specified via ProfileId <br />2. Required. Set parameters for a one-off storage configuration when Type is provided <br /> 3. Optional. Override parameters of the default storage profile if neither ProfileId or Type are provided",
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "objectPrefix": {
                            "type": "string",
                            "description": "Optional. Prefix to object when stored in bucket i.e. `protocol`://`bucketName`/`objectPrefix`/`objectName.ext`. Ignored when using Dolby.io's storage buckets. `objectName` is either defined by a system assigned GUID or the user-specified `clipName`.",
                            "maxLength": 1000,
                            "minLength": 0,
                            "nullable": true
                          },
                          "bucketName": {
                            "type": "string",
                            "description": "Name of bucket to upload clips to. Please ensure Dolby.io's service account is granted access.",
                            "nullable": true
                          },
                          "bucketRegion": {
                            "type": "string",
                            "description": "Region of the specified bucket if using storage provider awsS3",
                            "maxLength": 32,
                            "minLength": 1,
                            "nullable": true
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "id": {
                          "type": "string",
                          "nullable": true
                        },
                        "storage": {
                          "nullable": true,
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "properties": {
                                "type": {
                                  "description": "Storage provider type",
                                  "oneOf": [
                                    {
                                      "type": "string",
                                      "description": "",
                                      "x-enumNames": [
                                        "gcs",
                                        "awsS3",
                                        "dolbyStorage"
                                      ],
                                      "enum": [
                                        "gcs",
                                        "awsS3",
                                        "dolbyStorage"
                                      ]
                                    }
                                  ]
                                },
                                "path": {
                                  "type": "string",
                                  "description": "Path to clip storage location. Available only for external storage configurations. ",
                                  "nullable": true
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "error",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "data": {
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/account/distribution": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Read Account Distribution Settings",
        "description": "Gets account wide distribution settings. Whenever publish tokens are created, these will be the default settings used for features that impact how streams are distributed. \n * geoCascade: controls if and which geographic clusters are included for regional content delivery \n",
        "operationId": "account-distribution-get",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "geoCascade"
                      ],
                      "properties": {
                        "geoCascade": {
                          "description": "Controls if and which geographic clusters are included for regional content delivery",
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "isEnabled"
                              ],
                              "properties": {
                                "isEnabled": {
                                  "type": "boolean",
                                  "description": "Enable or Disable account-wide distribution settings."
                                },
                                "clusters": {
                                  "type": "array",
                                  "description": "List of cluster IDs to distribute publish stream. List cannot be empty when IsEnabled is true. List is ignored when IsEnabled is set to false. Defaults to '[\"all\"]' if unset.",
                                  "nullable": true,
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "success",
                    "value": {
                      "status": "success",
                      "data": {
                        "geoCascade": {
                          "isEnabled": true,
                          "clusters": [
                            "phx-1",
                            "ams-1"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "fail",
                      "minLength": 1
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "error",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "data": {
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update Account Distribution Settings",
        "description": "Update account wide distribution settings to enable/disable the feature or update the account default cluster list. Whenever publish tokens are created, these will be the default settings used for features that impact how streams are distributed. \n'[\"all\"]' could be used in place of cluster list to cascade stream to all existing and any future clusters available to the account.\nEmpty cluster list is not allowed when enabling account wide distribution settings. Cluster list is translated to '[\"all\"]' clusters if not specified or set to null.\nCluster list is ignored when geo cascade is disabled.",
        "operationId": "account-distribution-put",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "geoCascade"
                ],
                "properties": {
                  "geoCascade": {
                    "description": "Controls if and which geographic clusters are included for regional content delivery",
                    "oneOf": [
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "isEnabled"
                        ],
                        "properties": {
                          "isEnabled": {
                            "type": "boolean",
                            "description": "Enable or Disable account-wide distribution settings."
                          },
                          "clusters": {
                            "type": "array",
                            "description": "List of cluster IDs to distribute publish stream. List cannot be empty when IsEnabled is true. List is ignored when IsEnabled is set to false. Defaults to '[\"all\"]' if unset.",
                            "nullable": true,
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              },
              "examples": {
                "update": {
                  "summary": "update",
                  "value": {
                    "geoCascade": {
                      "isenabled": true,
                      "clusters": [
                        "phx-1",
                        "ams-1",
                        "lon-1"
                      ]
                    }
                  }
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "geoCascade"
                      ],
                      "properties": {
                        "geoCascade": {
                          "description": "Controls if and which geographic clusters are included for regional content delivery",
                          "oneOf": [
                            {
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "isEnabled"
                              ],
                              "properties": {
                                "isEnabled": {
                                  "type": "boolean",
                                  "description": "Enable or Disable account-wide distribution settings."
                                },
                                "clusters": {
                                  "type": "array",
                                  "description": "List of cluster IDs to distribute publish stream. List cannot be empty when IsEnabled is true. List is ignored when IsEnabled is set to false. Defaults to '[\"all\"]' if unset.",
                                  "nullable": true,
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "success",
                    "value": {
                      "status": "success",
                      "data": {
                        "geoCascade": {
                          "isEnabled": true,
                          "clusters": [
                            "phx-1",
                            "ams-1"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "fail",
                      "minLength": 1
                    },
                    "data": {}
                  }
                },
                "examples": {
                  "failure": {
                    "summary": "failure",
                    "value": {
                      "status": "fail",
                      "data": {
                        "message": "Geo cascade Clusters list cannot be empty"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "error",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "data": {
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/account/security": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Read Account Security Settings",
        "description": "Gets account wide security settings. If a Token (either Publish or Subscribe) does not define any security settings, the account wide rules are used.",
        "operationId": "account-security-get",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "allowedCountries": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "deniedCountries": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "allowed": {
                    "summary": "allowed",
                    "value": {
                      "status": "success",
                      "data": {
                        "allowedCountries": [
                          "US"
                        ],
                        "deniedCountries": []
                      }
                    }
                  },
                  "denied": {
                    "summary": "denied",
                    "value": {
                      "status": "success",
                      "data": {
                        "allowedCountries": [],
                        "deniedCountries": [
                          "UK"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "fail",
                      "minLength": 1
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "error",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "data": {
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update Account Security Settings",
        "description": "Update account wide security settings. Updated to an empty array `[]` removes all rules of that type.",
        "operationId": "account-security-put",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "updateAllowedCountries": {
                    "type": "array",
                    "description": "Set the list of permitted countries as the account default when creating new tokens.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  },
                  "updateDeniedCountries": {
                    "type": "array",
                    "description": "Set the list of excluded countries as the account default when creating new tokens.",
                    "nullable": true,
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "examples": {
                "allowed": {
                  "summary": "allowed",
                  "value": {
                    "allowedCountries": [
                      "US"
                    ],
                    "deniedCountries": []
                  }
                },
                "denied": {
                  "summary": "denied",
                  "value": {
                    "allowedCountries": [],
                    "deniedCountries": [
                      "UK"
                    ]
                  }
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "allowedCountries": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "deniedCountries": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "allowed": {
                    "summary": "allowed",
                    "value": {
                      "status": "success",
                      "data": {
                        "allowedCountries": [
                          "US"
                        ],
                        "deniedCountries": []
                      }
                    }
                  },
                  "denied": {
                    "summary": "denied",
                    "value": {
                      "status": "success",
                      "data": {
                        "allowedCountries": [],
                        "deniedCountries": [
                          "UK"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "fail",
                      "minLength": 1
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "default": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "message"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "error",
                      "minLength": 1
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "nullable": true
                    },
                    "data": {
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "general": {
                    "summary": "general",
                    "value": {
                      "status": "error",
                      "message": "simple error reason",
                      "code": 500,
                      "data": {
                        "additional": "other data here (not actual key)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Secret": []
          }
        ]
      }
    },
    "/api/v3/media/assets": {
      "post": {
        "tags": [
          "Media Assets"
        ],
        "summary": "Create Media Asset",
        "description": "Create a live clip from an ongoing live stream. You must provide the stream name and start time, and once processing is complete the media asset of the type clip will be available for retrieval.\n \nIf a stop time is not specified, the time the request was received will be used. The clip duration must be a minimum of ten (10) seconds and cannot exceed eight (8) hours.\n \n There are a few cases where more than one clip will be generated from a single request.\n \n 1. A stream went offline during the time range will generate separate clips for the period before and after the restart.\n2. A stream that is configured for multi-source when a simulcastId is not given in the request to select a single layer.\n 3. A stream that is configured for multi-bitrate contribution or redundant fallback ingest and a sourceId is not given in the request to specify which to use. In that scenario, sources will be ranked based on the following criteria and the highest ranked source is selected for clipping: \n * priority \n* quality \n* start time \n\n \n By using an `Idempotency-Key` header in your requests, you can avoid generating more than one identical clip should the same request be received more than once. To avoid unnecessary charges, it is recommended you use a common identifier for live clip requests based on a common source stream and time range. For background on the usage of this header, please refer to the [IETF Draft](https://datatracker.ietf.org/doc/draft-ietf-httpapi-idempotency-key-header/)",
        "operationId": "media-assets-post",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "streamName",
                  "startTime"
                ],
                "properties": {
                  "streamName": {
                    "type": "string",
                    "description": "Name of stream to create live clip.",
                    "minLength": 1
                  },
                  "tokenId": {
                    "type": "integer",
                    "description": "Publish token of stream.",
                    "nullable": true
                  },
                  "sourceId": {
                    "type": "string",
                    "description": "Optional. ",
                    "nullable": true
                  },
                  "simulcastId": {
                    "type": "string",
                    "description": "Optional. <br /> <br /> If this field is omitted, a media asset will be created per available simulcastId <br /> <br /> Otherwise, set the field to `null` to select a source published without a specified simulcastId. <br /> <br />Provide an empty string to select a source published using RTMP/SRT paths where the simulcastId parameter was specified without a defined value as shown in [Multi-source RTMP](https://docs.dolby.io/streaming-apis/docs/multi-source-broadcasting#multi-source-rtmp), i.e. `?simulcastId&...`.<br /> <br />This field can also be set to any standard string.",
                    "nullable": true
                  },
                  "priority": {
                    "type": "integer",
                    "description": "Optional. Priority level of stream(s) to clip. By default the stream with highest priority for a given sourceId will be chosen to clip.",
                    "format": "int32",
                    "nullable": true
                  },
                  "startTime": {
                    "type": "string",
                    "description": "Start time of live recording clip. Must be provided to disambiguate between discontinuous streams. Media assets returned will start on or after specified time, depending on the availability of the content requested. Time must be set in the past. <br /><br />ISO 8601 format should be used (eg 2020-01-01T00:00:00Z), all times are expected to be UTC.",
                    "format": "date",
                    "minLength": 1
                  },
                  "stopTime": {
                    "type": "string",
                    "description": "Optional. Stop time of live recording clip. If not provided, defaults to the current time. Time must be set in the past. <br /><br />ISO 8601 format should be used (eg 2020-01-01T00:00:00Z), all times are expected to be UTC.",
                    "format": "date",
                    "nullable": true
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional. Provide a label for the live recording clip. If not specified, this value will be assigned. <br /> <br />`name` must meet the naming requirements recommended by [Google Cloud Storage](https://cloud.google.com/storage/docs/objects#naming) and [AWS S3](https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html#object-key-guidelines). <br /> <br />If a media asset is uploaded to third party storage, the `name` will be used as the name of the uploaded object. To avoid failed uploads the name should be either unique to avoid conflict with existing objects in the upload location or if overwriting existing objects is desired, appropriate permissions must be granted: [DELETE permissions must be granted to us](https://docs.dolby.io/streaming-apis/docs/live-clipping#granting-dolbyio-access-to-your-gcp-storage). <br /> <br />`name` may not contain carriage return or line feed characters, or any of the characters #, [, ], *, ?, :, \", “, ”, <, >, |, /, {, }, ^, %, `, ~.",
                    "maxLength": 256,
                    "minLength": 1,
                    "nullable": true
                  },
                  "storage": {
                    "description": "Optional. Provide storage configurations for clip. If unspecified your default storage profile will be used, or our storage buckets if the former does not exist. <br /> <br />If specifying user-defined storage, please refer to setup instructions to grant us upload access to buckets and ensure that configurations have been tested using [Test Storage Configuration](#tag/RecordFileTasks/operation/Account_ValidateStorageProfile). ",
                    "nullable": true,
                    "oneOf": [
                      {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "profileId": {
                            "type": "string",
                            "description": "Optional. Provide the id of a storage profile. Mutually exclusive with Type.",
                            "nullable": true
                          },
                          "type": {
                            "description": "Optional. Use to indicate the storage provider type for a one-off storage configuration. Mutually exclusive with ProfileId. Storage provider type. One of the following:\n* awsS3 - Amazon S3\n* gcs - Google Cloud Storage\n* dolbyStorage - Dolby.io's storage buckets. Call Read Media Asset to retrieve the clip file.",
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "string",
                                "description": "",
                                "x-enumNames": [
                                  "gcs",
                                  "awsS3",
                                  "dolbyStorage"
                                ],
                                "enum": [
                                  "gcs",
                                  "awsS3",
                                  "dolbyStorage"
                                ]
                              }
                            ]
                          },
                          "options": {
                            "description": "May be used in the following ways: <br />1. Optional. Override parameters of a storage profile specified via ProfileId <br />2. Required. Set parameters for a one-off storage configuration when Type is provided <br /> 3. Optional. Override parameters of the default storage profile if neither ProfileId or Type are provided",
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "objectPrefix": {
                                    "type": "string",
                                    "description": "Optional. Prefix to object when stored in bucket i.e. `protocol`://`bucketName`/`objectPrefix`/`objectName.ext`. Ignored when using Dolby.io's storage buckets. `objectName` is either defined by a system assigned GUID or the user-specified `clipName`.",
                                    "maxLength": 1000,
                                    "minLength": 0,
                                    "nullable": true
                                  },
                                  "bucketName": {
                                    "type": "string",
                                    "description": "Name of bucket to upload clips to. Please ensure Dolby.io's service account is granted access.",
                                    "nullable": true
                                  },
                                  "bucketRegion": {
                                    "type": "string",
                                    "description": "Region of the specified bucket if using storage provider awsS3",
                                    "maxLength": 32,
                                    "minLength": 1,
                                    "nullable": true
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    ]
                  },
                  "expiration": {
                    "type": "string",
                    "description": "Optional. Provide expiry time for live recording clip. <br /><br />If not specified, file will be retained until removed via [Delete Files](#operation/RecordFilesV2_DeleteRecordFileItems). <br /><br />Has no effect when files are uploaded to user-specified storage locations. ",
                    "format": "date",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "default": "success",
                      "minLength": 1
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "description": "",
                            "x-enumNames": [
                              "Recording",
                              "Clip",
                              "StorageValidation",
                              "Timeline"
                            ],
                            "enum": [
                              "recording",
                              "clip",
                              "storageValidation",
                              "timeline"
                            ]
                          },
                          "feed": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "tokenId": {
                                    "type": "integer",
                                    "nullable": true
                                  },
                                  "streamName": {
                                    "type": "string"
                                  },
                                  "sourceId": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "simulcastId": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "priority": {
                                    "type": "integer",
                                    "format": "int32",
                                    "nullable": true
                                  }
                                }
                              }
                            ]
                          },
                          "startTime": {
                            "type": "string",
                            "format": "date"
                          },
                          "stopTime": {
                            "type": "string",
                            "format": "date",
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "storage": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "object",
                                "additionalProperties": false,
                                "properties": {
                                  "type": {
                                    "description": "Storage provider type",
                                    "oneOf": [
                                      {
                                        "type": "string",
                                        "description": "",
                                        "x-enumNames": [
                                          "gcs",
                                          "awsS3",
                                          "dolbyStorage"
                                        ],
                                        "enum": [
                                          "gcs",
                                          "awsS3",
[...]
